# Python
backend/.venv/
backend/__pycache__/
backend/app/**/__pycache__/
backend/data/
*.pyc
backend/.env

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/android/local.properties
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh

# IDEs and System files
.idea/
.vscode/
*.suo
*.ntvsca
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
